# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
dist/
build/
coverage/
\.next/
.next
out/

# Editor
.vscode/
.idea/
.DS_Store

# Env
.env
.env.*

# Misc
*.local
